{% extends 'tutorial/tutorial-runaway.html.twig' %}

{% block image%}
	<div class="row" data-step="1" data-intro="Es posible mostrar el mismo arco con diferentes colores o paletas, de esta forma podemos observarlo desde distintos puntos de vista, es por esto que te vamos a mostrar 4 variantes de la misma estrella as&iacute; pod&eacute;s realizar las observaciones con un mayor nivel de detalle.">
	    <div class="col-md-3 star-container  bottom-buffer-large">
	        <img class="img-responsive star-image" src="{{ asset('bundles/app/images/tutorial/HIP11891-rgb.jpg') }}"/>
	        <img class="hidden marked-image" src="{{ asset('bundles/app/images/tutorial/HIP11891-rgb_m.gif') }}"/>
	    </div>
	    <div class="col-md-3 star-container">
	        <img class="img-responsive star-image" src="{{ asset('bundles/app/images/tutorial/HIP11891-w3-Heat-pow-99.5.jpg') }}"/>
	        <img class="hidden marked-image" src="{{ asset('bundles/app/images/tutorial/HIP11891-w3-Heat-pow-99.5_m.gif') }}"/>
	    </div>
	    <div class="col-md-3 star-container">
	        <img class="img-responsive star-image" src="{{ asset('bundles/app/images/tutorial/HIP11891-w3-Hsv-pow-99.5.jpg') }}"/>
	        <img class="hidden marked-image" src="{{ asset('bundles/app/images/tutorial/HIP11891-w3-Hsv-pow-99.5_m.gif') }}"/>
	    </div>
	    <div class="col-md-3 star-container">
	        <img class="img-responsive star-image" src="{{ asset('bundles/app/images/tutorial/HIP11891-w3-Cool-pow-99.5.jpg') }}"/>
	        <img class="hidden marked-image" src="{{ asset('bundles/app/images/tutorial/HIP11891-w3-Cool-pow-99.5_m.gif') }}"/>
	    </div>
	</div>
{% endblock %}
