{% extends 'task/index.html.twig' %}

{% block training_js %}

  <script src="{{ asset('bundles/app/js/lib.js') }}"></script>
  <script src="{{ asset('bundles/app/js/tasks.js') }}"></script>
{% endblock %}


{% block submit_buttons %}
	<div class="col-md-2 col-md-offset-5">
	    <button type="button" id="yesBtn" class="btn btn-lg btn-success answerBtn" value="1">Si</button>
      <button type="button" id="noBtn" class="btn btn-lg btn-danger answerBtn" value="0">No</button>
      <button type="button" id="dontKnowBtn" class="btn btn-lg btn-warning answerBtn" value="2">No estoy seguro</button>
      <input type="hidden" name="answer" />

      <button type="submit" id="submit-button" disabled="disabled" class="hidden btn btn-lg btn-success btn-block">Siguiente</button>
	</div>
{% endblock %}


{% block points_variables %}
    <!-- points -->
    <div class="hidden" id="div-points">
        <p id="correct-points">{{correct_points}}</p>
        <p id="incorrect-points">{{incorrect_points}}</p>
    </div>
    <p class="hidden" id="tmode">{{training_mode}}</p>
{% endblock %}


{% block training_response %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3  answer">
          <div class="hidden alert alert-danger" role="alert"  id="answerTextWrong">
            <strong>Respuesta Incorrecta:</strong>{{images.text}}
          </div>
          <div class="hidden alert alert-success" role="alert"  id="answerTextRight">
            <strong>Respuesta Correcta:</strong>{{images.text}}
          </div>
           <img class="hidden marked-image" src="{{ images.markedBowshockImage }}"/>
           <p class="answerValue hidden">{{images.correct}}</p>
       </div>
    </div>
{% endblock %}

{% block help_text %}


<!-- Modal -->
<div class="modal fade" id="help_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Esto es un entrenamiento</h4>
      </div>
      <div class="modal-body">
        <p>Conocemos las respuestas y te vamos a decir si acertaste o no.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}