{% extends 'base.html.twig' %}
{% block stylesheets %}
     <link rel="stylesheet" href="{{asset('bundles/app/css/styles.css')}}">
{% endblock %}
{% block javascripts %}
<script src="{{ asset('bundles/app/js/lib.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
<script src="{{ asset('bundles/app/js/tasks.js') }}"></script>

{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row" id="score-div">
            <div class="col-md-2">
                <h3>Pregunta <span id="current-task">{{current_step}}</span> de <span id="total-questions">{{max_step}}</span></h3>
            </div>
            <div class="col-md-2 col-md-offset-8">
                {% block points %}{% endblock %}
            </div>
        </div>
        <form id="runaway-stars-form" class="well" action="{{post_url}}" method="POST">
            <div class="row">
                <h3 class="centered">&iquest;Podes Indicar la <i>Runaway Star</i>?</h3>
            </div>
            <div class="row">
                {% for img in images %}
                    <div class="star-container col-md-4 col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                 <input class="radio hidden" type="radio" name="answer" id="answerRadio{{img.id}}" required="required" value="{{img.id}}">
                                 <label for="answerRadio{{img.id}}"><img class="img-responsive star-image" src="{{ img.path }}"/></label>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 hidden answer">
                               <p class="answerText {{img.cssClass}} text-center">{{img.text}}</p>
                               <img class="hidden marked-image" src="{{ img.markedBowshockImage }}"/>
                               <p class="answerValue hidden">{{img.correct}}</p>
                           </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row"><div class="col-md-12"></div></div>

            <div class="row">
                <div class="col-md-1 col-md-offset-10">
                    <button type="button" id="answer-button" class="btn btn-lg btn-primary">Contestar!</button>
                </div>
                <div class="col-md-1">
                    <button type="submit" id="submit-button" disabled="disabled" class="btn btn-lg btn-success">Siguiente</button>
                </div>
            </div>
        </form>
    </div>

    <!-- points -->
    <div class="hidden" id="div-points">
        <p id="correct-points">{{correct_points}}</p>
        <p id="incorrect-points">{{incorrect_points}}</p>
    </div>
    <div id="throbber" style="display:none;">
        <img  src="{{ asset('bundles/app/images/ajax-loader.gif') }}" alt="wait">
    </div>
     <p class="hidden" id="tmode">{{training_mode}}</p>

{% endblock %}
