{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    {% block training_js %}{% endblock %}
{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/styles.css') }}">
        {% block custom_stylesheets %}{% endblock %}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row" id="score-div">
            <div class="col-md-2">
                {% block question_number %}
                    <h3>Pregunta <span id="current-task">{{current_step}}</span> de <span id="total-questions">{{max_step}}</span></h3>
                {% endblock %}
            </div>
            <div class="col-md-2 col-md-offset-8">
                {% block points %}{% endblock %}
            </div>
        </div>
        <form id="runaway-stars-form" class="well" action="{{post_url}}" method="POST">
            <div id="question">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">En la siguiente imagen, &iquest;Ves una <i>Runaway Star</i>?</h3>
                    </div>
                </div>
                {% block image%}
                    <div class="row">
                    {% for image in images %}
                        <div class="col-md-3 star-container">
                            <img class="img-responsive star-image" src="{{ image.path }}"/>
                            {% block correct_image%}{% endblock %}
                        </div>
                    {% endfor %}
                    </div>
                    <div>
                        {% for i in 1..4 %}
                            <div class="col-md-3 text-center"><a>{{i}}</a></div>
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
            {% block training_response %}{% endblock %}
            {% block info_extra %}{% endblock %}
           

            <div class="row">
                {% block submit_buttons %}{% endblock %}
            </div>
        </form>
    </div>

    {% block points_variables %}{% endblock %}
    <div id="throbber" style="display:none;">
        <img  src="{{ asset('bundles/app/images/ajax-loader.gif') }}" alt="wait">
    </div>

    <!-- show_help_holder -->
    <p id="show_help" class="hidden">{{show_help}}</p>
    {% block help_text %}{% endblock %}

{% endblock %}
